flask==2.3.3
flask-cors==4.0.0
gunicorn==21.2.0
google-generativeai==0.5.4
sentence-transformers==3.0.1
huggingface-hub==0.23.0
transformers==4.41.1
torch==2.1.2
faiss-cpu==1.8.0
numpy==1.26.4
pypdf==4.2.0
pillow==10.3.0
pytesseract==0.3.10
serpapi==0.1.0
tokenizers==0.19.1
